.topBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 25px;
    color: #292929;
}
.panelIcon {
    width: 1.2em;
    height: 1.2em;
    color: #292929;
}
.objectIcon {
    width: 1.5em;
    height: 1.5em;
    color: #292929;
}

.identifierSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.identifierSection img {
    margin-right: 8px;
}
.identifierSection .panelName {
    font-weight: 700;
    font-size: 16px;
    color: #292929;
}

.dropBtn {
    margin-right: 5px;
}
.dropBtn:hover {
    scale: 125%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: #292929;
}
.content .contentDivider {
    align-self: center;
    margin: 8px 0;
    width: 100%;
    padding: 0 10px;
    height: 5px;
    background-color: #FF6C69;
}
.content .treeDiagram {
    width: 105%;
    align-self: center;
    height: 120px;
    background-color: lightskyblue;
}

.content ul {
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
}

.content h5 {
    margin: 10px 0;
}
.content li {
    font-size: 14px;
}

.content .sectionHeader {
    font-size: 16px;
    margin: 12px 0;
    font-weight: 700;
}

.content .listHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.listElementHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.content .listElementHolder .leftFloat {
    display: flex;
    align-items: center;
}
.dot {
    height: 5px;
    width: 4px;
    background-color: #FF6C69;
    border-radius: 20px;
    margin: 0 5px 0 0px;
}
.content .listElementHolder p {
    margin: 5px;
    font-size: 13px;
    text-wrap: avoid;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content .buttonWrapper .iconButton {
    width: 90px;
    height: 25px;
    border-radius: 15px;
    border: 4px solid #FF6C69;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 20px;
}
.content .iconButton .Eyeicon {
    width: 15px;
    height: 15px;
    margin: 0;
}
.content .iconButton .ExpandIcon {
    width: 20px;
    height: 20px;
}
.content .iconButton .CollapseIcon {
    width: 16px;
    height: 16px;
}

.content .buttonWrapper .iconButton:hover {
    color: white;
    background-color: #FF6C69;
}

.faEye {
    vertical-align: middle;
    padding-bottom: 2px;
    padding-right: 2px;
}
.faEyeLarge {
    width: 22px;
    height: 20px;
    margin: 0 8px 0 3px;
}

.nodesList {
    margin-top: 5px
}

.toggleHeader {
    font-weight: bold;
    margin: 0;
}

li::marker {
    color: #FF6C69;
}

.content ul {
    padding: 0 0 0 16px;
    margin: 10px 0 10px 0;
}

.filterIcon {
    width: 24px;
    height: 24px;
    color: #292929;
    stroke-width: 1px;
    margin-right: 8px;
}

.hiddenCloseBtn {
    width: 20px;
    height: 20px;
    color: #FF6C69;
    border: none;
    stroke-width: 1px;
    margin-right: 4px;
}

.hiddenCloseBtn:hover {
    stroke-width: 2px;
    scale: 125%;
}

.listElementHolder:hover {
    font-weight: bolder;
}