
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.FlowWrapper {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.FlowWrapper .react-flow__handle {
  opacity: 0;
}

.panelHolder {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 20;
  pointer-events: none;
  /*background-color: rgba(125,23,0,0.1);*/
}

#leftFloat.panelHolder {
  left: 0;
  right: auto
}

#rightFloat.panelHolder {
  right: 0;
  left: auto;
}

.panelStyle, .panelStyleInformation {
  pointer-events: all;
  width: 250px;
  height: auto;
  padding: 8px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: #FFFFFF;
  border: 5px solid #FF6C69;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.panelStyleInformation {
  width: 350px;
}


/*
.react-flow__controls {
  border-radius: 15px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08);
  border: 4px solid red;
  display: flex;
}
.react-flow__controls-button {
  border: 1px solid #eee;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.react-flow__controls-button:first-child {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}
.react-flow__controls-button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.react-flow__controls-button:hover {
  background: #f4f4f4;
}
.react-flow__controls-button svg {
  width: 100%;
  max-width: 14px;
  max-height: 14px;
}

*/

/*
.floatingedges .react-flow__node.selected {
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
*/