
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.FlowWrapper {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.FlowWrapper .react-flow__handle {
  pointer-events: none;
  opacity: 0;
}

.panelHolder {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: 20;
  pointer-events: none;
}

#leftFloat.panelHolder {
  left: 0;
  right: auto
}

#rightFloat.panelHolder {
  right: 0;
  left: auto;
}

.panelStyle, .panelStyleInformation {
  pointer-events: all;
  width: 250px;
  height: auto;
  padding: 8px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: #FFFFFF;
  border: 5px solid #FF6C69;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.panelStyleInformation {
  width: 350px;
}